<a href="https://colab.research.google.com/github/shiya10576/Merciado-Amusement-park/blob/master/NguyenNgoc_LoopHomework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Print First 10 natural numbers using while loop

In [ ]:
number = 0
while (number < 10):
  print(number)
  number += 1

0
1
2
3
4
5
6
7
8
9

Exercise 2: Print the following pattern :
5 4 3 2 1  
4 3 2 1  
3 2 1  
2 1  
1

In [27]:
NumberInput = 5
for i in range(NumberInput, 0, -1):
  for j in range(i, 0, -1):
    print(j, end = " ")
  print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [33]:
#Nhap gia tri dau vao
NumberInput = int(input("Moi ban nhap gia tri: "))

#Tinh tong cac so tu 1 toi so da nhap
#Y tuong: Khoi tao bien sum bang 0, chay vong lap tu 1 toi so nhap vao roi cong lan luot vao sum
sum = 0
for i in range(1, NumberInput + 1):
  sum += i

#Xuat gia tong cac so tu 1 toi cac so da cho
print("Tong cac so tu 1 toi cac so da cho la: ", sum)

Moi ban nhap gia tri: 3
Tong cac so tu 1 toi cac so da cho la:  6

Exercise 4: Write a program to print multiplication table of a given number with natural numbers  from 1 to 10.

In [37]:
#Nhap gia tri dau vao
NumberInput = int(input("Moi ban nhap gia tri dau vao: "))

#Xuat ra ban cuu chuong voi cac so tu nhien tu 1 den 10
print("Bang cuu chuong so ", NumberInput)
for i in range(1, 10 + 1):
  print(NumberInput, "*", i, "=", NumberInput * i)

Moi ban nhap gia tri dau vao: 5
Bang cuu chuong so  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Exercise 5: Display numbers from a list using loop

In [39]:
ValueInput = ["apple", "banana", "cherry"]
for x in ValueInput:
  print(x)

apple
banana
cherry

Exercise 6: Count the total number of digits in a number

In [44]:
#Nhap gia tri dau vai
NumberInput = int(input("Enter number:"))

#Thuc hien tinh toan
count = 0
while(NumberInput > 0):
    count = count+1
    NumberInput = NumberInput //10

#Xuat gia tri
print("The number of digits in the number are:", count)

Enter number:123
The number of digits in the number are: 3

Exercise 7: Print list in reverse order using a loop

In [51]:
#Nhap gia tri dau vao cua List
ListInput = list(input("Moi ban nhap gia tri List: "))

#Thuc hien in dao List
for i in reversed(ListInput):
  print(i)

Moi ban nhap gia tri List: 1 2 3 a b s
s

b

a

3

2

1

Exercise 8: Display numbers from -10 to -1 using for loop

In [52]:
for i in range(-10, -1 + 1, 1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Write a program to display all prime numbers within a range

In [53]:
#Nhap gia tri dau vao
NumberStar = int(input("Enter Star range: "))  
NumberEnd = int(input("Enter end range: "))  
  
#Thuat toan sang so nguyen to giua 2 khoang
for num in range(NumberStar, NumberEnd + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter Star range: 2
Enter end range: 15
2
3
5
7
11
13

Exercise 11: Display Fibonacci series up to 10 terms

In [55]:
#Nhap gia tri dau vao
NumberCout_Fibo = int(input("Enter the value : "))

#Thuc hien tinh toan
#Y tuong: Su dung vong lap, khoi tao gia tri tong dau la 0, bien count de tao dieu kien dung, 2 bien a b de cong chong len nhau, bien b ke thua bien sum
a = 0
b = 1
sum = 0
count = 1
print("Cac so Fibonacci la: ", end = " ")
while(count <= NumberCout_Fibo):
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

Enter the value : 10
Cac so Fibonacci la:  0 1 1 2 3 5 8 13 21 34

Exercise 12: Find the factorial of a given number

In [61]:
#Nhap gia tri dau vao
NumberInput = int(input("Moi ban nhap gia tri dau vao: "))

#Tinh gia tri giai thua
#Khoi tao mot bien luu gia tri la 1, su dung vong lap de lan luot nhan cac so voi bien, dong thoi giam gia tri ve 1 la dung
Factorial = 1
for i in range (NumberInput, 1, -1):
  Factorial *= i

#Xuat gia tri giai thua
print("Gia tri giai thua la: ", Factorial)

Moi ban nhap gia tri dau vao: 5
Gia tri giai thua la:  120

Exercise 13: Reverse a given integer number

In [66]:
#Nhap gia tri dau vao
NumberInput = int(input("Nhap gia dau vao: "))

# Check using while loop
#Khoi tao gia tri dau rong, su dung vong lap while de lay lan luot cac phan tu va in nguoc lai, cac so khi nhan duoc se nhan 10 len de khong bi trung gia tri sau
NumberOutput = 0
while(NumberInput>0):
  NumberReverse = NumberInput % 10
  NumberOutput = (NumberOutput * 10) + NumberReverse
  NumberInput = NumberInput//10

#Xuat gia tri
print("So dao nguoc la: ", NumberOutput)

Nhap gia dau vao: 123456
So dao nguoc la:  654321

Exercise 14: Use a loop to display elements from a given list present at odd index positions

In [69]:
#Nhap gia tri dau vao
ListInput = list(input("Moi ban nhap gia tri cho List: "))

#Thuc hien in cac vi tri le trong List
#Su dung vong lap chay cac vi tri tu 1 toi cac so le bang cach dung step = 2 
for i in range(1, len(ListInput), 2):
  print(ListInput[i])

Moi ban nhap gia tri cho List: 1 2 3 4 5 6